.container {
  margin: 2rem auto;
  width: 70%;
}

.responsive-width {
  width: 80%;
}

.expenses-card {
  background-color: rgb(43, 41, 41);
  padding: 1rem;
  margin-top: 3rem;
}

.dropdown {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dropdown select {
  font-weight: bold;
  padding: 0.1rem;
  outline: none;
}

@media screen and (max-width: 576px) {
  .responsive-width {
    width: 100%;
  }

  .container {
    width: 100%;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .container {
    width: 90%;
  }
  .responsive-width {
    width: 100%;
  }
}
