.app {
  margin: 0;
  padding: 0;
}

.responsive-row {
  width: 100%;
  margin: 0;
}

@media screen and (max-width: 360px) {
  .responsive-row {
    width: 360px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .responsive-row {
    width: 100%;
  }
}
