body {
  /* Variables */
  --primary-color: #6c4ab6;
  --primary-light-color: #8d72e1;
  --secondary-color: #8d9eff;
  --accent-color: #b9e0ff;
  --background-color: #404258;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #404258;
  color: wheat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
